html,body{
    height: 100%;
}
.changePhone{
    padding: .64rem .53333rem 1.6rem;
}
.changePhone .child{
    background: #fff;
    height: 1.2266rem;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: .32rem;
    padding-left: .42666rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.changePhone .child input{
    flex: 1;
    border: 0;
    outline: none;
    height: 1.2266rem;
    line-height: 1.2266rem;
    color: #333333;
    font-size: .42666rem;
}
.code{
    width: 2.9866rem;
    height: 1.2266rem;
    line-height: 1.2266rem;
    color: #fff;
    background: linear-gradient(to bottom, #64E1FF 0%,#5EBAFF 100%);
    font-size: .42666rem;
    text-align: center;
    border-radius: 3px;
}
.submit{
    height: 1.17333rem;
    line-height: 1.17333rem;
    margin: 0 .53333rem;
    background: linear-gradient(to bottom, #64E1FF 0%,#5EBAFF 100%);
    color: #fff;
    font-size: .42666rem;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
}